const fs = require('fs');

module.exports = ({
    "optimize": "none",
    preserveLicenseComments: false,
    generateSourceMaps: false,
    deps: [],
    shim: {},
    paths: {
        text: 'requirejs/text',
    },
    map: {},
    modules: [],
    "bundlesConfigOutFile": "requirejs-config.js",
    onModuleBundleComplete: function (data) {
        if (this.bundleConfigAppended) {
            return;
        }
        this.bundleConfigAppended = true;

        // bundlesConfigOutFile requires a simple require.config call in order to modify the configuration
        const bundleConfigPlaceholder = `
                (function (require) {
                require.config({});
                })(require);`;

        fs.appendFileSync(this.bundlesConfigOutFile, bundleConfigPlaceholder);
    }
});