//!!! change URLs to needed and delete this comment
{
  "nb_NO": {
    "baseUrl": "https://sportymejs.dev.convert.no",
    "pages": [
      {
        "name": "index",
        "url": "/"
      },
      {
        "name": "category",
        "url": "/herre/herreklaer"
      },
      {
        "name": "product",
        "url": "/herre/herreklaer/traverse-pant-herre-shorts3"
      },
      {
        "name": "cart",
        "url": "/checkout/cart/"
      },
      {
        "name": "login",
        "url": "/customer/account/login"
      }
    ]
  }
}
